<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
<div class="col-md-4">
    <div class="card text-white bg-primary" style="max-width: 20rem;">

        <div class="card-body">
        <h4 class="card-title">Contries</h4>
        <h2 class="card-title">{{ddata.countryCount}}</h2>
       
        </div>
        
        </div>
</div>
<div class="col-md-4">
    <div class="card text-white bg-warning" style="max-width: 20rem;">

        <div class="card-body">
        <h4 class="card-title">Cities</h4>
        <h2 class="card-title">{{ddata.cityCount}}</h2>
       
        </div>
        
        </div>
</div>
<div class="col-md-2"></div>
    </div>

</div>

   
